@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/*------general setup-----*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --decoration-color-1: hsl(179, 62%, 43%);
    --decoration-color-2: hsl(71, 73%, 54%);
    --font-color-1: hsl(204, 43%, 93%);
    --font-color-2: hsl(218, 22%, 67%);
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;    
}

/*-----individual setup------*/

main {
    display: grid;
    position: absolute;
    left: 15%;
    top: 10%; 
    width: 70%;
    height: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px hsl(218, 22%, 67%);
}

#box-information1 {
    width: 100%;
    height: 100%;
    max-width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: white;
}

#box-information2 {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--decoration-color-1);
}

#box-information3 {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    color: var(--font-color-1);
    background-color: hsl(179, 49%, 59%);
}

