@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/*------general setup-----*/

:root {
    --decoration-color-1: hsl(179, 62%, 43%);
    --decoration-color-2: hsl(71, 73%, 54%);
    --font-color-1: hsl(204, 43%, 93%);
    --font-color-2: hsl(218, 22%, 67%);
}

html {
    font-family: 'Karla', sans-serif;   
}

/*-----individual setup------*/

main {
    display: grid;
    position: absolute;
    width: 50%;
    height: 70%;
    left: 25%;
    top: 15%;
    font-size: 18px;
    border-radius: 8px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 230px 1fr;
    box-shadow: 1px 1px 10px 1px hsl(223, 77%, 86%);
}

/*------individual setups-----*/

#box-information1 {
    grid-column: 1/3;
    grid-row: 1/2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 20px 20px 0px 40px;
    background-color: white;
}

#box-information1 h2 {
    font-size: 30px;
    color: var(--decoration-color-1);
}

#box-information1 .p1 {
    font-weight: 700;
    font-size: 17px;
    color: var(--decoration-color-2);

}

#box-information1 .p2 {
    font-size: 19px;
    font-weight: 700;
    color: var(--font-color-2);
    line-height: 30px;
}

#box-information2 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 20px 40px;
    border-bottom-left-radius: 8px;
    background-color: var(--decoration-color-1);
}

#box-information2 h2 {
    color: white;
}

#box-information2 .p1 {
    margin: 0;
    color: white;
    font-size: 35px;
    font-style: 700;
}

#box-information2 span {
    color: var(--font-color-1);
    font-size: 18px;
}

#box-information2 .p2 {
    color: var(--font-color-1);
    font-size: 18px;
}

#box-information2 .btn {
    display: flex;
    height: 55px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 4px 7px 0px rgb(116, 116, 116);
    background-color: var(--decoration-color-2);
}

#box-information2 a {
    color: var(--font-color-1);
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

#box-information3 {
    grid-column: 2/3;
    grid-row: 2/2;
    padding: 20px 40px;
    border-bottom-right-radius: 8px;
    background-color: hsl(179, 49%, 59%);
}

#box-information3 h2 {
    color: white;
}

#box-information3 p {
    color: var(--font-color-1);
    margin: 2px;
}






