@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/*------general setup-----*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --decoration-color-1: hsl(179, 62%, 43%);
    --decoration-color-2: hsl(71, 73%, 54%);
    --font-color-1: hsl(204, 43%, 93%);
    --font-color-2: hsl(218, 22%, 67%);
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;    
}

/*-----individual setup------*/

main {
    display: grid;
    position: absolute;
    left: 25%;
    top: 10%; 
    width: 50%;
    height: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 1px 1px 10px 1px hsl(223, 77%, 86%);
}

#box-information1 {
    width: 100%;
    height: 100%;
    max-width: 100%;
    grid-column: 1/3;
    grid-row: 1/2;
    border-radius: 8px;
    background-color: white;
}

#box-information1 h2 {
    margin: 40px 0px 30px 60px;
    color: var(--decoration-color-1);
}

#box-information1 .p1 {
    margin: 0px 0px 0px 60px;
    font-weight: 700;
    color: var(--decoration-color-2);
}

#box-information1 .p2 {
    width: 80%;
    margin: 10px 0px 0px 60px;
    font-weight: 700;
    line-height: 30px;
    color: var(--font-color-2);
}

#box-information2 {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    color: var(--font-color-1);
    border-bottom-left-radius: 8px;
    background-color: var(--decoration-color-1);
}

#box-information2 h2 {
    font-size: 18px;
    margin: 40px 0px 0px 60px;
}

#box-information2 .p1 {
    font-size: 35px;
    font-weight: 700;
    margin: 15px 0px 0px 60px;
}

#box-information2 span {
    font-size: 16px;
    font-weight: 400;
    color: var(--font-color-1);
}

#box-information2 .p2 {
    margin: 20px 0px 20px 60px;
}

.btn {
    display: flex;
    width: 70%;
    height: 45px;
    margin: 0px 60px 0px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 4px 7px 0px rgb(116, 116, 116);
    background-color: var(--decoration-color-2);
}

#box-information2 a {
    width: auto;
    height: auto;
    font-weight: 700;
    text-decoration: none;
    color: var(--font-color-1);
}

#box-information3 {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    color: var(--font-color-1);
    border-bottom-right-radius: 8px;
    background-color: hsl(179, 49%, 59%);
}

#box-information3 h2 {
    font-size: 18px;
    margin: 40px 0px 0px 60px;
}

#box-information3 .p1 {
    margin-top: 26px;
}

#box-information3 p {
    color: hsl(228, 7%, 87%);
    margin: 0px 0px 0px 60px;
}

/*----footer setup-----*/

footer {
    position: absolute;
    left: 36%;
    top: 95%;
    font-weight: 700;
    color: var(--decoration-color-1);
}

footer a {
    text-decoration: none;
    color: var(--decoration-color-2);
}




